.kitchen{
    background-color: lightyellow;
    padding: 10px;
}

.kitchen--vaso--new{
    color: green;
    font-weight: bold;
}

.bedroom{
    background-color: lavender;
    padding: 10px;
}

.bedroom-item-big{
    font-size: 20px;
}

.livingroom{
    background-color: lightblue;
    padding: 10px;
}

